@import "/styles/shake.css";

:root {
	--step: 5%;

	/* Primary */
	--pbc: 240, 30%;
	--pbl: 10%;
	--pfc: 360, 100%;
	--pfl: 100%;

	/* Secondary */
	--sbc: 0, 0%;
	--sbl: 10%;
	--sfc: 360, 100%;
	--sfl: 100%;

	/* Embedded */
	--ebc: 0, 0%;
	--ebl: 100%;
	--efc: 360, 100%;
	--efl: 100%;

	/* Components */
	--spacing: 20px;
	--background: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 0))); /*linear-gradient(to bottom, hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * -1))), hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 1))));*/
	--graphic-s: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.35));

	--paper-1: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 1)));
	--paper-2: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 2)));
	--paper-3: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 3)));
	--paper-s: 0 1px 4px 1px rgba(0, 0, 0, 0.25), 0 1px 2px 0px rgba(0, 0, 0, 0.25);

	--pen-1: hsl(var(--pfc), calc(var(--pfl) - calc(var(--step) * 0)));
	--pen-2: hsl(var(--pfc), calc(var(--pfl) - calc(var(--step) * 1)));
	--pen-3: hsl(var(--pfc), calc(var(--pfl) - calc(var(--step) * 2)));

	--input-p-1: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 4)));
	--input-p-2: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 5)));
	--input-p-3: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 6)));
	--input-p-f: hsl(var(--pfc), calc(var(--pfl)));

	--action-p-1: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 7)));
	--action-p-2: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 8)));
	--action-p-3: hsl(var(--pbc), calc(var(--pbl) + calc(var(--step) * 9)));
	--action-p-f: hsl(var(--pfc), calc(var(--pfl)));
	--action-p-s: unset;

	--action-s-1: hsl(var(--sbc), calc(var(--sbl) + calc(var(--step) * 7)));
	--action-s-2: hsl(var(--sbc), calc(var(--sbl) + calc(var(--step) * 8)));
	--action-s-3: hsl(var(--sbc), calc(var(--sbl) + calc(var(--step) * 9)));
	--action-s-f: hsl(var(--sfc), calc(var(--sfl)));
	--action-s-s: unset;

	--action-e-1: hsla(var(--ebc), var(--ebl), 0.00);
	--action-e-2: hsla(var(--ebc), var(--ebl), 0.05);
	--action-e-3: hsla(var(--ebc), var(--ebl), 0.10);
	--action-e-f: hsla(var(--efc), var(--efl), 1);
	--action-e-s: unset;
}

* { transition-property: none; transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.5,0.25,0,1); }
* { animation-duration: 0.4s; animation-timing-function: cubic-bezier(0.5,0.25,0,1); }
* { box-sizing: border-box; }

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: rgba(255, 255,255, 0.05); }
::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, 0.1); }

html,
body { margin: 0; padding: 0; height: 100%; }
body { font-family: 'Roboto', sans-serif; font-size: 9pt; font-weight: 300; }
body { background: var(--background); }

body > .cover { position: fixed; left: 0; top: 0; right: 0; bottom: 0; opacity: 1; }
body > .cover > div { display: flex; flex-direction: column; position: fixed; left: 0; top: 0; right: 0; bottom: 0; }
body > .cover > div > div:nth-child(1) { flex: 1 1 50%; }
body > .cover > div > div:nth-child(2) { flex: 0 1 auto; }
body > .cover > div > div:nth-child(2) > svg { position: relative; width: 100%; height: 15vh; margin-bottom: -7px; min-height: 100px; max-height: 150px; }
body > .cover > div > div:nth-child(2) > svg > g > use { animation: cover-waves cubic-bezier(.55, .5, .45, .5) infinite; }
body > .cover > div > div:nth-child(2) > svg > g > use:nth-child(1) { fill: hsla(var(--pfc), var(--pfl), 10%); animation-delay: -2s; animation-duration: 10s; }
body > .cover > div > div:nth-child(2) > svg > g > use:nth-child(2) { fill: hsla(var(--pfc), var(--pfl), 25%); animation-delay: -3s; animation-duration: 15s; }
body > .cover > div > div:nth-child(2) > svg > g > use:nth-child(3) { fill: hsla(var(--pfc), var(--pfl), 40%); animation-delay: -4s; animation-duration: 25s; }
body > .cover > div > div:nth-child(2) > svg > g > use:nth-child(4) { fill: hsla(var(--pfc), var(--pfl), 100%); animation-delay: -5s; animation-duration: 40s; }
body > .cover > div > div:nth-child(3) { flex: 1 0 auto; background: hsla(var(--pfc), var(--pfl), 100%); margin-top: 3px; }

@keyframes cover-waves {
	0% { transform: translate3d(-90px, 0, 0); }
	100% { transform: translate3d(85px, 0, 0); }
}
 
@media (orientation: portrait) {
	body > .cover { display: none; }
}

/* ------------------ Header */

header { display: grid; grid-template-columns: auto min-content; position: fixed; left: 0; top: 0; right: 0; height: 60px; background: var(--background); }
header h1 { margin: 0; padding: 18px; }
header h1 { font-size: 18pt; font-weight: 100; color: var(--pen-1); text-transform: uppercase; }
header section { display: grid; grid-auto-flow: column; grid-gap: 10px; padding: 8px; }
header section app-button { background: transparent; }
header section app-button:hover { background: var(--paper-2); }

/* ------------------ Contents */

#contents { display: flex; flex-direction: column; position: absolute; left: calc(50% - 1px); top: 60px; width: calc(100% + 2px); min-height: calc(100% - 60px); transform: translateX(-50%); padding: 20px; }
#contents { background: var(--paper-1); color: var(--pen-1); box-shadow: var(--paper-s); }
#contents:empty { display: none; }

@media (orientation: landscape) {
	#contents { top: 80px; width: calc(100% - calc(var(--spacing) * 2)); max-width: 576px; min-height: calc(100% - 100px); }
	#contents:after { content: ""; display: block; position: absolute; top: 100%; width: calc(100% - 40px); height: 20px; }
}

/* ------------------ Windows */

#windows { position: fixed; left: 0; top: 0; right: 0; bottom: 0; backdrop-filter: blur(2px) grayscale(50%); }
#windows:empty { display: none; }

/* ------------------ Additions */

#additions { position: fixed; top: 0; right: 0; bottom: 0; }

/* ------------------ Headers */

h1 { font-size: 32pt; font-weight: 100; color: var(--pen-1); line-height: 110%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
h2 { font-size: 16pt; font-weight: 100; margin: 0; line-height: 110%; }
h3 { font-size: 12pt; font-weight: 100; margin: 0; line-height: 110%; }
h4 { font-size: 9pt; font-weight: 300; margin: 0; line-height: 110%; }
.center { text-align: center; }

/* ------------------ Divider */

.divider { position: relative; text-align: center; }
.divider:before { display: block; position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background: var(--paper-3); content: ""; }
.divider span { position: relative; background: var(--paper-1); padding: 10px; }

@media (orientation: landscape) {
	.divider.vertical:before { display: block; position: absolute; left: 50%; top: 0; width: 1px; height: 100%; background: var(--paper-3); content: ""; }
	.divider.vertical span { position: absolute; background: var(--paper-1); padding: 10px; top: 50%; transform: translate(-50%, -50%); }
}